node_modules/
.next/
out/
coverage/
playwright-report/
test-results/
artifacts/
.env
.env.*
.env*
!.env.example
*.log
.DS_Store
.turbo/
.vercel/
.worktrees/
*.tsbuildinfo
# DO not push also pgdata
.pgdata/*